@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
  font-family: 'Montserrat', sans-serif;
}

.headerTitleWithLogo {
  font-weight: 200;
}

.fixedHeaderContainer, .fixedHeaderContainer a, .projectTitle, header nav li {
  color: #db4d3f !important;
}

.button {
  border: 1px solid #db4d3f;
  color: #db4d3f;
}

.button:hover {
  background: #db4d3f;
  color: #ffffff;
}

@media only screen and (min-width: 1025px) {
  .fixedHeaderContainer {
    box-shadow: 0px 0px 5px 5px #00000030;
  }
}
