@keyframes code-box-first {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  8% {
    transform: translate3d(0, -5px, 0);
  }

  10% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  35% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(-250px, 0, 0);
  }

  100% {
    transform: translate3d(-250px, 0, 0);
  }
}

@keyframes code-box-second {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(250px, 0, 0);
  }

  100% {
    transform: translate3d(250px, 0, 0);
  }
}

@keyframes code-box-arrow {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0.87;
  }

  100% {
    opacity: 0.87;
  }
}

body {
  margin: 0;
}

a,
h1,
h2 {
  font-family: Montserrat;
}

p,
th,
td {
  font-family: 'Open Sans';
}

code {
  font-family: 'Anonymous Pro';
}

#splash {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  #splash {
    height: inherit;
  }
}

nav {
  padding: 1rem;
}

nav a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  margin: 0 0.75rem;
  transition: opacity 0.3s;
}

nav a.right {
  float: right;
}

@media screen and (max-width: 767px) {
  nav a.collapse {
    display: none;
  }
}

nav a:visited {
  color: black;
}

nav a:hover {
  opacity: 1;
}

#splash header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-logo {
  display: flex;
  max-width: 350px;
  min-width: 350px;
  justify-content: space-between;
  padding-top: 5vh;
}

@media screen and (max-width: 767px) {
  .splash-logo {
    flex-direction: column;
    align-items: center;
  }
}

.splash-logo h1 {
  font-size: 24pt;
  margin-top: 0;
  max-width: 100px;
  opacity: 0.87;
}

@media screen and (max-width: 767px) {
  .splash-logo h1 {
    padding-top: 1rem;
    max-width: 200px;
  }
}

img.logo {
  height: 200px;
  width: 200px;
}

.splash-codebox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .splash-codebox {
    position: inherit !important;
    flex-direction: column;
  }
}

.code-box {
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 0.75em;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.87);
  background: linear-gradient(to right, #ccc 3em, black 3em, white 3.1em);
}

.code-box.first {
  position: absolute;
  z-index: 3;
  animation: code-box-first 3s ease-in-out forwards;
}

.code-box.second {
  position: absolute;
  z-index: 2;
  animation: code-box-second 3s ease-in-out forwards;
}

@media screen and (max-width: 767px) {
  .code-box {
    position: inherit !important;
    animation: none !important;
  }
}

.code-box-arrow {
  position: absolute;
  z-index: 1;
  animation: code-box-arrow 3s ease-in-out forwards;
  font-size: 36pt;
}

@media screen and (max-width: 767px) {
  .code-box-arrow {
    display: none !important;
  }
}

.code-box-arrow-down {
  display: none;
  z-index: 1;
  font-size: 36pt;
}

@media screen and (max-width: 767px) {
  .code-box-arrow-down {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .code-box {
    position: inherit !important;
    animation: none !important;
  }
}

main {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
  }
}

main nav {
  margin-top: 0.83em;
  max-width: 200px;
}

main nav a {
  display: inline-block;
  padding-bottom: 0.5rem;
}

main nav a.sublink {
  margin-left: 1.5rem;
}

a.sublink + a.link {
  margin-top: 0.5rem;
}

main section {
  flex: 1;
  max-width: 800px;
}

@media screen and (max-width: 767px) {
  main section {
    padding: 1rem;
  }
}

main p {
  font-size: 11pt;
  color: black;
  opacity: 0.6;
}

main h1 {
  display: flex;
  color: black;
  opacity: 0.87;
}

main h1::before {
  border-width: 1px;
  content: '';
  margin-right: 1rem;
  border-style: solid;
  align-self: center;
  flex: 1;
}

main h1::after {
  border-width: 1px;
  content: '';
  margin-left: 1rem;
  border-style: solid;
  align-self: center;
  flex: 1;
}

main code {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 0.5rem;
  opacity: 0.87;
  margin: 0 0.33rem;
  padding: 0.33rem;
}

main code.block {
  display: block;
  width: fit-content;
  margin: 0 0.5rem;
  white-space: pre;
  border: none;
}

main h2 {
  font-weight: 400;
  opacity: 0.87;
}

h1 + h2 {
  margin-top: 0;
}

table {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.33rem;
}
